		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="info">
							<small id="show_time"> </small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="has-sub active">
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-recycle"></i>
						    <span>邮箱远程管理</span>
					    </a>
						<ul class="sub-menu">
							<li id="sidebar_index"><a href="/">系统首页</a></li>
							<li id="sidebar_task" style="display: none;"><a href="javascript:;">清理任务</a></li>
							<li id="sidebar_status"><a href="/status/">批量清理</a></li>
						    <li id="sidebar_account"><a href="/account/">账号管理</a></li>
							<li id="sidebar_help"><a href="/help/">使用帮助</a></li>
						</ul>
					</li>
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>