	<script src="{{url_for('static',filename='plugins/jquery/jquery-1.9.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='plugins/jquery/jquery-migrate-1.1.0.min.js')}}"></script>
	<script src="{{url_for('static',filename='plugins/jquery-ui/ui/minified/jquery-ui.min.js')}}"></script>
	<script src="{{url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script>
	<!--[if lt IE 9]>
		<script src="{{url_for('static',filename='crossbrowserjs/html5shiv.js')}}"></script>
		<script src="{{url_for('static',filename='crossbrowserjs/respond.min.js')}}"></script>
		<script src="{{url_for('static',filename='crossbrowserjs/excanvas.min.js')}}"></script>
	<![endif]-->
	<script src="{{url_for('static',filename='plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
	<script src="{{url_for('static',filename='plugins/jquery-cookie/jquery.cookie.js')}}"></script>