	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
	<link href="{{url_for('static',filename='plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='css/animate.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='css/style.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='css/style-responsive.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static',filename='css/theme/default.css')}}" rel="stylesheet" id="theme" />